/* General */
body {
  color: #262626;
}
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fdfffc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.btn-colour {
  background-color: #ff9f1c;
  border: none;
  color: #fdfffc;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn-colour:hover {
  background-color: #cc7700;
}
.btn-edit {
  color: #2ec4b6;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.btn-delete {
  color: #e71d36;
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
}

/* ---------- COMPONENTS ---------- */

/* Navbar Component */
.custom-logo {
  width: 3.5rem;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.menu-item {
  margin-right: 1.5rem;
}
.menu-item,
.menu-item:hover {
  color: #262626;
  text-decoration: none;
}
.router-link-exact-active {
  border-bottom: 2px solid #ff9f1c !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.mobile-nav-style {
  align-items: center;
}
h4 {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .mobile-nav-style {
    background: none !important;
    box-shadow: none !important;
  }
  .mobile-nav-style {
    align-items: baseline;
  }
  .navbar-nav:first-child {
    margin-top: 0;
  }
  .menu-item {
    margin-bottom: 0.5rem;
  }
}

/* Footer Component*/
.footer-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-one {
  margin-bottom: 1.5rem;
}
.footer-two {
  margin: 1.5rem 0 0.5rem 0;
}
.copyright {
  margin-bottom: 0;
}

/* Restaurant Menu Item Component */
.card-menu-item {
  margin-bottom: 1rem;
}
.rest-menu-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-course {
  color: #2ec4b6;
  font-weight: 600;
  cursor: pointer;
}

/* ---------- PAGES ---------- */

/* Current Order Page*/
.rounded-circle {
  width: 3rem;
  height: 3rem;
}

/* Hero Page */
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  color: #fdfffc;
}
.lead {
  font-weight: 400;
  font-size: 1.6rem;
}
/* Home Page */
.card-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.card-text {
  font-weight: 500;
  margin-bottom: 0;
}
.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 8rem;
  opacity: 0.8;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.g-4 {
  --bs-gutter-y: 2rem;
  --bs-gutter-x: 2rem;
}
.restaurant-types {
  text-align: center;
}
.btn-type {
  background-color: #fdfffc;
  border: 2px solid #2ec4b6;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 0.5rem 2rem 0.5rem;
}
.btn-type:hover {
  background-color: #2ec4b6;
  color: #fdfffc;
}

/* Rstaurant Menu Page */
.add-menu-form {
  margin-top: 4rem;
}
.no-result {
  font-size: 1.4rem;
  color: #2ec4b6;
}
.note {
  font-size: 1.1rem;
  color: #e71d36;
  text-align: center;
  margin-bottom: 2rem;
}
#current-order-link {
  font-weight: 700;
  color: #e71d36;
  text-decoration: none;
}
